body {
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin: 1em;
  color: skyblue;
}
div {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background: skyblue;
  background: radial-gradient(circle, white 0%, skyblue 100%);
  margin-bottom: 1em;
  padding: 0;
  color: transparent;
}

div .selected {
  border-radius: 0%;
}

header {
  position: fixed;
  top: 1em;
  right: 1em;
  font-size: 1em;
}

button {
  background-color: white;
  color: skyblue;
  border: 1px solid skyblue;
  border-radius: 5px;
  font-size: 1em;
  top: 5em;
}

#space-invader {
  box-shadow: 0 0 0 1em lightgreen, 0 1em 0 1em lightgreen,
    -2.5em 1.5em 0 0.5em lightgreen, 2.5em 1.5em 0 0.5em lightgreen,
    -3em -3em 0 0 lightgreen, 3em -3em 0 0 lightgreen, -2em -2em 0 0 lightgreen,
    2em -2em 0 0 lightgreen, -3em -1em 0 0 lightgreen, -2em -1em 0 0 lightgreen,
    2em -1em 0 0 lightgreen, 3em -1em 0 0 lightgreen, -4em 0 0 0 lightgreen,
    -3em 0 0 0 lightgreen, 3em 0 0 0 lightgreen, 4em 0 0 0 lightgreen,
    -5em 1em 0 0 lightgreen, -4em 1em 0 0 lightgreen, 4em 1em 0 0 lightgreen,
    5em 1em 0 0 lightgreen, -5em 2em 0 0 lightgreen, 5em 2em 0 0 lightgreen,
    -5em 3em 0 0 lightgreen, -3em 3em 0 0 lightgreen, 3em 3em 0 0 lightgreen,
    5em 3em 0 0 lightgreen, -2em 4em 0 0 lightgreen, -1em 4em 0 0 lightgreen,
    1em 4em 0 0 lightgreen, 2em 4em 0 0 lightgreen;
  background: lightgreen;
  width: 1em;
  height: 1em;
  overflow: hidden;
  margin: 50px 0 70px 65px;
}
